@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

/* Fix for Leaflet icons not showing */
.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}